.color1 {
	color: #e44e3c;
}

.color2 {
	color: #e44e3c;
}

.color3 {
	color: #e44e3d;
}

.color4 {
	color: #e44d3e;
}

.color5 {
	color: #e34d3f;
}

.color6 {
	color: #e34d3f;
}

.color7 {
	color: #e34d40;
}

.color8 {
	color: #e24c41;
}

.color9 {
	color: #e24c42;
}

.color10 {
	color: #e24c43;
}

.color11 {
	color: #e14b43;
}

.color12 {
	color: #e14b44;
}

.color13 {
	color: #e14b45;
}

.color14 {
	color: #e14a46;
}

.color15 {
	color: #e04a46;
}

.color16 {
	color: #e04a47;
}

.color17 {
	color: #e04948;
}

.color18 {
	color: #df4949;
}

.color19 {
	color: #df4949;
}

.color20 {
	color: #df494a;
}

.color21 {
	color: #de484b;
}

.color22 {
	color: #de484c;
}

.color23 {
	color: #de484d;
}

.color24 {
	color: #de474d;
}

.color25 {
	color: #dd474e;
}

.color26 {
	color: #dd474f;
}

.color27 {
	color: #dd4650;
}

.color28 {
	color: #dc4650;
}

.color29 {
	color: #dc4651;
}

.color30 {
	color: #dc4552;
}

.color31 {
	color: #dc4553;
}

.color32 {
	color: #db4553;
}

.color33 {
	color: #db4554;
}

.color34 {
	color: #db4455;
}

.color35 {
	color: #da4456;
}

.color36 {
	color: #da4456;
}

.color37 {
	color: #da4357;
}

.color38 {
	color: #d94358;
}

.color39 {
	color: #d94359;
}

.color40 {
	color: #d9425a;
}

.color41 {
	color: #d9425a;
}

.color42 {
	color: #d8425b;
}

.color43 {
	color: #d8415c;
}

.color44 {
	color: #d8415d;
}

.color45 {
	color: #d7415d;
}

.color46 {
	color: #d7415e;
}

.color47 {
	color: #d7405f;
}

.color48 {
	color: #d74060;
}

.color49 {
	color: #d64060;
}

.color50 {
	color: #d63f61;
}

.color51 {
	color: #d63f62;
}

.color52 {
	color: #d53f63;
}

.color53 {
	color: #d53e63;
}

.color54 {
	color: #d53e64;
}

.color55 {
	color: #d43e65;
}

.color56 {
	color: #d43d66;
}

.color57 {
	color: #d43d67;
}

.color58 {
	color: #d43d67;
}

.color59 {
	color: #d33d68;
}

.color60 {
	color: #d33c69;
}

.color61 {
	color: #d33c6a;
}

.color62 {
	color: #d23c6a;
}

.color63 {
	color: #d23b6b;
}

.color64 {
	color: #d23b6c;
}

.color65 {
	color: #d13b6d;
}

.color66 {
	color: #d13a6d;
}

.color67 {
	color: #d13a6e;
}

.color68 {
	color: #d13a6f;
}

.color69 {
	color: #d03970;
}

.color70 {
	color: #d03971;
}

.color71 {
	color: #d03971;
}

.color72 {
	color: #cf3972;
}

.color73 {
	color: #cf3873;
}

.color74 {
	color: #cf3874;
}

.color75 {
	color: #cf3874;
}

.color76 {
	color: #ce3775;
}

.color77 {
	color: #ce3776;
}

.color78 {
	color: #ce3777;
}

.color79 {
	color: #cd3677;
}

.color80 {
	color: #cd3678;
}

.color81 {
	color: #cd3679;
}

.color82 {
	color: #cc357a;
}

.color83 {
	color: #cc357a;
}

.color84 {
	color: #cc357b;
}

.color85 {
	color: #cc357c;
}

.color86 {
	color: #cb347d;
}

.color87 {
	color: #cb347e;
}

.color88 {
	color: #cb347e;
}

.color89 {
	color: #ca337f;
}

.color90 {
	color: #ca3380;
}

.color91 {
	color: #ca3381;
}

.color92 {
	color: #c93281;
}

.color93 {
	color: #c93282;
}

.color94 {
	color: #c93283;
}

.color95 {
	color: #c93184;
}

.color96 {
	color: #c83184;
}

.color97 {
	color: #c83185;
}

.color98 {
	color: #c83186;
}

.color99 {
	color: #c73087;
}

.color100 {
	color: #c73087;
}

.color101 {
	color: #c73088;
}

.color102 {
	color: #c72f89;
}

.color103 {
	color: #c62f8a;
}

.color104 {
	color: #c62f8b;
}

.color105 {
	color: #c62e8b;
}

.color106 {
	color: #c52e8c;
}

.color107 {
	color: #c52e8d;
}

.color108 {
	color: #c52e8e;
}

.color109 {
	color: #c42d8e;
}

.color110 {
	color: #c42d8f;
}

.color111 {
	color: #c42d90;
}

.color112 {
	color: #c42c91;
}

.color113 {
	color: #c32c91;
}

.color114 {
	color: #c32c92;
}

.color115 {
	color: #c32b93;
}

.color116 {
	color: #c22b94;
}

.color117 {
	color: #c22b95;
}

.color118 {
	color: #c22a95;
}

.color119 {
	color: #c22a96;
}

.color120 {
	color: #c12a97;
}

.color121 {
	color: #c12a98;
}

.color122 {
	color: #c12998;
}

.color123 {
	color: #c02999;
}

.color124 {
	color: #c0299a;
}

.color125 {
	color: #c0289b;
}

.color126 {
	color: #bf289b;
}

.color127 {
	color: #bf289c;
}

.color128 {
	color: #bf279d;
}

.color129 {
	color: #bf279e;
}

.color130 {
	color: #be279e;
}

.color131 {
	color: #be269f;
}

.color132 {
	color: #be26a0;
}

.color133 {
	color: #bd26a1;
}

.color134 {
	color: #bd26a2;
}

.color135 {
	color: #bd25a2;
}

.color136 {
	color: #bc25a3;
}

.color137 {
	color: #bc25a4;
}

.color138 {
	color: #bc24a5;
}

.color139 {
	color: #bc24a5;
}

.color140 {
	color: #bb24a6;
}

.color141 {
	color: #bb23a7;
}

.color142 {
	color: #bb23a8;
}

.color143 {
	color: #ba23a8;
}

.color144 {
	color: #ba22a9;
}

.color145 {
	color: #ba22aa;
}

.color146 {
	color: #ba22ab;
}

.color147 {
	color: #b922ac;
}

.color148 {
	color: #b921ac;
}

.color149 {
	color: #b921ad;
}

.color150 {
	color: #b821ae;
}

.color151 {
	color: #b820af;
}

.color152 {
	color: #b820af;
}

.color153 {
	color: #b720b0;
}

.color154 {
	color: #b71fb1;
}

.color155 {
	color: #b71fb2;
}

.color156 {
	color: #b71fb2;
}

.color157 {
	color: #b61eb3;
}

.color158 {
	color: #b61eb4;
}

.color159 {
	color: #b61eb5;
}

.color160 {
	color: #b51eb5;
}

.color161 {
	color: #b51db6;
}

.color162 {
	color: #b51db7;
}

.color163 {
	color: #b51db8;
}

.color164 {
	color: #b41cb9;
}

.color165 {
	color: #b41cb9;
}

.color166 {
	color: #b41cba;
}

.color167 {
	color: #b31bbb;
}

.color168 {
	color: #b31bbc;
}

.color169 {
	color: #b31bbc;
}

.color170 {
	color: #b21abd;
}

.color171 {
	color: #b21abe;
}

.color172 {
	color: #b21abf;
}

.color173 {
	color: #b21abf;
}

.color174 {
	color: #b119c0;
}

.color175 {
	color: #b119c1;
}

.color176 {
	color: #b119c2;
}

.color177 {
	color: #b018c2;
}

.color178 {
	color: #b018c3;
}

.color179 {
	color: #b018c4;
}

.color180 {
	color: #af17c5;
}

.color181 {
	color: #af17c6;
}

.color182 {
	color: #af17c6;
}

.color183 {
	color: #af16c7;
}

.color184 {
	color: #ae16c8;
}

.color185 {
	color: #ae16c9;
}

.color186 {
	color: #ae16c9;
}

.color187 {
	color: #ad15ca;
}

.color188 {
	color: #ad15cb;
}

.color189 {
	color: #ad15cc;
}

.color190 {
	color: #ad14cc;
}

.color191 {
	color: #ac14cd;
}

.color192 {
	color: #ac14ce;
}

.color193 {
	color: #ac13cf;
}

.color194 {
	color: #ab13d0;
}

.color195 {
	color: #ab13d0;
}

.color196 {
	color: #ab12d1;
}

.color197 {
	color: #aa12d2;
}

.color198 {
	color: #aa12d3;
}

.color199 {
	color: #aa12d3;
}

.color200 {
	color: #aa11d4;
}

.color201 {
	color: #a911d5;
}

.color202 {
	color: #a911d6;
}

.color203 {
	color: #a910d6;
}

.color204 {
	color: #a810d7;
}

.color205 {
	color: #a810d8;
}

.color206 {
	color: #a80fd9;
}

.color207 {
	color: #a70fd9;
}

.color208 {
	color: #a70fda;
}

.color209 {
	color: #a70edb;
}

.color210 {
	color: #a70edc;
}

.color211 {
	color: #a60edd;
}

.color212 {
	color: #a60edd;
}

.color213 {
	color: #a60dde;
}

.color214 {
	color: #a50ddf;
}

.color215 {
	color: #a50de0;
}

.color216 {
	color: #a50ce0;
}

.color217 {
	color: #a50ce1;
}

.color218 {
	color: #a40ce2;
}

.color219 {
	color: #a40be3;
}

.color220 {
	color: #a40be3;
}

.color221 {
	color: #a30be4;
}

.color222 {
	color: #a30ae5;
}

.color223 {
	color: #a30ae6;
}

.color224 {
	color: #a20ae6;
}

.color225 {
	color: #a20ae7;
}

.color226 {
	color: #a209e8;
}

.color227 {
	color: #a209e9;
}

.color228 {
	color: #a109ea;
}

.color229 {
	color: #a108ea;
}

.color230 {
	color: #a108eb;
}

.color231 {
	color: #a008ec;
}

.color232 {
	color: #a007ed;
}

.color233 {
	color: #a007ed;
}

.color234 {
	color: #a007ee;
}

.color235 {
	color: #9f06ef;
}

.color236 {
	color: #9f06f0;
}

.color237 {
	color: #9f06f0;
}

.color238 {
	color: #9e06f1;
}

.color239 {
	color: #9e05f2;
}

.color240 {
	color: #9e05f3;
}

.color241 {
	color: #9d05f4;
}

.color242 {
	color: #9d04f4;
}

.color243 {
	color: #9d04f5;
}

.color244 {
	color: #9d04f6;
}

.color245 {
	color: #9c03f7;
}

.color246 {
	color: #9c03f7;
}

.color247 {
	color: #9c03f8;
}

.color248 {
	color: #9b02f9;
}

.color249 {
	color: #9b02fa;
}

.color250 {
	color: #9b02fa;
}

.color251 {
	color: #9a02fb;
}

.color252 {
	color: #9a01fc;
}

.color253 {
	color: #9a01fd;
}

.color254 {
	color: #9a01fd;
}

.color255 {
	color: #9900fe;
}

.color256 {
	color: #9900ff;
}

